<div>
    <mat-card class="example-card">
        <mat-card-header>
            Login
        </mat-card-header>
        <mat-card-content>
            <div class = "form-div">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Username</mat-label>
                      <input [(ngModel)] = "loginData.username" name = "username" matInput placeholder="Enter Username">
                    </mat-form-field>
                    <div class = "otp">
                        <div class = "input-div" *ngFor = "let char of characters;let i = index;">
                            <mat-form-field class="example-full-width custom-input-field">
                                <input type = "text" maxlength="1" (keydown)="enterWord(i,$event)" value = "{{char}}" [disabled]="char != ''" placeholder="" autocomplete="off" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click) = "login()" mat-button>Login</button>
        </mat-card-actions>
    </mat-card>    
</div>
