.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.example-card {
    max-width: 400px;
}

.form-div{
    margin-top: 6vH;
}

.otp{
    display:flex;
}
.input-div{
    width: 8vH;
}
.custom-input-field{
    border: 1px solid black;
    height: 7vh;
    border-bottom: none;
    text-align: center;
}